---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/marcandre/dependencies?platform=NPM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/github/marcandre/dependencies?page=2&platform=NPM>;
        rel="last", <https://libraries.io/api/github/marcandre/dependencies?page=2&platform=NPM>;
        rel="next"
      per-page:
      - '30'
      total:
      - '35'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"mocha","platform":"NPM","description":"simple, flexible,
        fun test framework","homepage":"https://mochajs.org","repository_url":"https://github.com/mochajs/mocha","normalized_licenses":["MIT"],"rank":32,"latest_release_published_at":"2018-05-18T23:36:47.777Z","latest_release_number":"5.2.0","language":"JavaScript","status":"","package_manager_url":"https://www.npmjs.com/package/mocha","stars":15748,"forks":2178,"keywords":["mocha","test","bdd","tdd","tap","browser","javascript","mochajs","nodejs","testing"],"latest_stable_release":{"id":13085350,"project_id":295363,"number":"5.2.0","published_at":"2018-05-18T23:36:47.777Z","created_at":"2018-05-18T23:41:59.242Z","updated_at":"2018-05-18T23:41:59.242Z","runtime_dependencies_count":null},"latest_download_url":"https://registry.npmjs.org/mocha/-/mocha-5.2.0.tgz","dependents_count":162178,"dependent_repos_count":384142,"versions":[{"number":"0.0.1","published_at":"2011-11-22T20:07:07.235Z"},{"number":"0.0.1-alpha1","published_at":"2011-11-08T23:08:57.384Z"},{"number":"0.0.1-alpha2","published_at":"2011-11-14T17:21:09.435Z"},{"number":"0.0.1-alpha3","published_at":"2011-11-15T18:11:50.401Z"},{"number":"0.0.1-alpha4","published_at":"2011-11-15T19:06:14.194Z"},{"number":"0.0.1-alpha5","published_at":"2011-11-17T15:52:14.087Z"},{"number":"0.0.1-alpha6","published_at":"2011-11-20T00:00:59.173Z"},{"number":"0.0.2","published_a[...]
