---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/marcandre/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      per-page:
      - '30'
      total:
      - '26'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '[{"full_name":"marcandre/backports","description":"The latest features
        of Ruby backported to older versions.","fork":false,"created_at":"2009-04-01T18:58:29.000Z","updated_at":"2018-08-27T01:57:35.023Z","pushed_at":"2018-08-27T01:51:12.000Z","homepage":"","size":861,"stargazers_count":300,"language":"Ruby","has_issues":true,"has_wiki":false,"has_pages":false,"forks_count":35,"mirror_url":null,"open_issues_count":8,"default_branch":"master","subscribers_count":9,"uuid":"165433","source_name":null,"license":"MIT","private":false,"contributions_count":15,"has_readme":"README.rdoc","has_changelog":"CHANGELOG.rdoc","has_contributing":null,"has_license":"LICENSE.txt","has_coc":null,"has_threat_model":null,"has_audit":null,"status":null,"last_synced_at":"2018-04-16T17:25:25.360Z","rank":14,"host_type":"GitHub","host_domain":null,"name":null,"scm":"git","fork_policy":null,"github_id":"165433","pull_requests_enabled":null,"logo_url":null,"github_contributions_count":15,"keywords":[]},{"full_name":"marcandre/swf_fu","description":"Rails
        plugin: treat your Adobe Flash swf files like any other asset (images, javascripts,
        etc...) and embed them using SWFObject 2.2","fork":false,"created_at":"2008-12-25T21:53:35.000Z","updated_at":"2016-12-28T19:05:42.840Z","pushed_at":"2013-03-12T16:44:42.000Z","homepage":"","size":296,"stargazers_count":121,"language":"Ruby","has_issues":true,"has_wiki":false,"has_pages":false,"forks_count":17,"mirror_url":null,"open_issues_count":0,"default_branch":"master","subscribers_count":3,"uuid":"96750",[...]
