---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/rubygems/deep-cover/dependents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      per-page:
      - '30'
      total:
      - '4'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"file_data","platform":"Rubygems","description":"Provides
        apis for extracting common metadata out of files as well as low level apis
        for advanced metadata parsing. Currently exif (jpeg/jpg) is almost entirely
        supported and mpeg4 (mp4,m4v,moov...) has limited support. For common metadata
        the FileInfo class provides methods names after the metadata items taking
        a filename. As an example, to get the origin date of a file you would call
        FileData::FileInfo.origin_date(filename). Advanced apis are provided via specific
        classes for each metadata type. For example, Exif for exif data and Mpeg4
        for mpeg4 data. These can be used to improve the performance of gathering
        multiple metadata values from a file","homepage":"https://github.com/ScottHaney/file_data","repository_url":"https://github.com/ScottHaney/file_data","normalized_licenses":["MIT"],"rank":9,"latest_release_published_at":"2018-07-21T02:06:14.582Z","latest_release_number":"5.2.2","language":"Ruby","status":null,"package_manager_url":"https://rubygems.org/gems/file_data","stars":1,"forks":0,"keywords":["exif","ruby"],"latest_stable_release":{"id":15043301,"project_id":2289503,"number":"5.2.2","published_at":"2018-07-21T02:06:14.582Z","created_at":"2018-07-21T15:34:40.800Z","updated_at":"2018-07-21T15:34:40.800Z","runtime_dependencies_count":0},"latest_download_url":"https://rubygems.org/downloads/file_data-5.2.2.gem","dependents_count":0,"dependent_repos_count":1,"versions":[{"number":"4.0.0","published_at":"2017-05-19T22:25:13.872Z"},{"number":"5.0.0","published_at":"2017-05-24T01:33:57.076Z"},{"number":"5.2.0","published_at":"2018-07-21T01:47:25.662Z"},{"number":"5.2.1","published_at":"2018-07-21T02:00:41.553Z"},{"number":"5.2.2","published_at":"2018-07-21T02:06:14.582Z"}]},{"name":"activerecord_where_assoc","platform":"Rubygems","description":"Adds
        various #where_assoc_* methods to ActiveRecord to make it easy to do correct
        conditions on the asso[...]
