---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/platforms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Go","project_count":1078906,"homepage":"http://go-search.org/","color":"#375eab","default_language":"Go"},{"name":"NPM","project_count":826026,"homepage":"https://www.npmjs.com","color":"#f1e05a","default_language":"JavaScript"},{"name":"Packagist","project_count":231019,"homepage":"https://packagist.org","color":"#4F5D95","default_language":"PHP"},{"name":"Maven","project_count":218559,"homepage":"http://maven.org","color":"#b07219","default_language":"Java"},{"name":"Rubygems","project_count":149385,"homepage":"https://rubygems.org","color":"#701516","default_language":"Ruby"},{"name":"Pypi"[...]
