---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/deep-cover/deep-cover/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      per-page:
      - '30'
      total:
      - '2'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"deep-cover-core","platform":"Rubygems","description":"Core
        functionality for the DeepCover gem.","homepage":"https://github.com/deep-cover/deep-cover","repository_url":"https://github.com/deep-cover/deep-cover","normalized_licenses":["MIT"],"rank":9,"latest_release_published_at":"2018-08-23T18:22:30.770Z","latest_release_number":"0.6.4","language":"Ruby","status":null,"package_manager_url":"https://rubygems.org/gems/deep-cover-core","stars":84,"forks":8,"keywords":["branch-coverage","coverage","ruby"],"latest_stable_release":{"id":15330458,"project_id":3217698,"number":"0.6.4","published_at":"2018-08-23T18:22:30.770Z","created_at":"2018-08-23T18:32:15.679Z","updated_at":"2018-08-23T18:32:15.679Z","runtime_dependencies_count":5},"latest_download_url":"https://rubygems.org/downloads/deep-cover-core-0.6.4.gem","dependents_count":2,"dependent_repos_count":2,"versions":[{"number":"0.6.3","published_at":"2018-08-21T00:16:17.379Z"},{"number":"0.6.3.pre","published_at":"2018-08-17T18:32:50.128Z"},{"number":"0.6.4","published_at":"2018-08-23T18:22:30.770Z"}]},{"name":"deep-cover","platform":"Rubygems","description":"expression
        and branch coverage for Ruby.","homepage":"https://github.com/deep-cover/deep-cover","repository_url":"https://github.com/deep-cover/deep-cover","normalized_licenses":["MIT"],"rank":12,"latest_release_published_at":"2018-08-23T18:22:[...]
