---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/marcandre/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://libraries.io/api/github/marcandre/dependencies?page=4>; rel="last",
        <https://libraries.io/api/github/marcandre/dependencies?page=2>; rel="next"
      per-page:
      - '30'
      total:
      - '102'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"bundler","platform":"Rubygems","description":"Bundler manages
        an application''s dependencies through its entire life, across many machines,
        systematically and repeatably","homepage":"https://bundler.io/","repository_url":"https://github.com/bundler/bundler","normalized_licenses":["MIT"],"rank":30,"latest_release_published_at":"2018-08-20T12:40:10.688Z","latest_release_number":"1.16.4","language":"Ruby","status":null,"package_manager_url":"https://rubygems.org/gems/bundler","stars":4268,"forks":1918,"keywords":["dependency-manager","ruby","rubygems"],"latest_stable_release":{"id":15297136,"project_id":183038,"number":"1.16.4","published_at":"2018-08-20T12:40:10.688Z","created_at":"2018-08-20T12:44:02.770Z","updated_at":"2018-08-20T12:44:02.770Z","runtime_dependencies_count":0},"latest_download_url":"https://rubygems.org/downloads/bundler-1.16.4.gem","dependents_count":59972,"dependent_repos_count":94703,"versions":[{"number":"0.3.0","published_at":"2009-08-04T23:57:03.000Z"},{"number":"0.3.1","published_at":"2009-08-04T23:57:00.000Z"},{"number":"0.4.0","published_at":"2009-08-19T05:33:25.000Z"},{"number":"0.4.1","published_at":"2009-08-20T05:37:18.000Z"},{"number":"0.5.0","published_at":"2009-09-24T21:59:26.935Z"},{"number":"0.6.0","published_at":"2009-09-24T21:59:27.222Z"},{"number":"0.7.0","published_at":"2009-11-06T01:32:33.563Z"},{"number":"0.7.1","published_at":"2009-12-07T23:28:12.138Z"},{"number":"[...]
