---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/MaxLap/activerecord_where_assoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"full_name":"MaxLap/activerecord_where_assoc","description":"Make
        ActiveRecord do conditions on your associations","fork":false,"created_at":"2017-07-28T22:21:28.000Z","updated_at":"2018-06-20T03:23:31.000Z","pushed_at":"2018-06-20T03:23:30.000Z","homepage":null,"size":226,"stargazers_count":50,"language":"Ruby","has_issues":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"open_issues_count":1,"default_branch":"master","subscribers_count":1,"uuid":"98692435","source_name":null,"license":"MIT","private":false,"contributions_count":2,"has_readme":"README.md","has_changelog":"CHANGELOG.md","has_contributing":null,"has_license":"LICENSE.txt","has_coc":null,"has_threat_model":null,"has_audit":null,"status":null,"last_synced_at":"2018-06-10T02:31:42.495Z","rank":5,"host_type":"GitHub","host_domain":null,"name":null,"scm":"git","fork_policy":null,"github_id":"98692435","pull_requests_enabled":null,"logo_url":null,"github_contributions_count":2,"keywords":["activerecord","rails","rails4","rails5","ruby","sql"]}'
  recorded_at: Fri, 14 Sep 2018 23:02:20 GMT
recorded_with: VCR 3.0.3
