---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/rubygems/deep-cover/latest/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"deep-cover","platform":"Rubygems","description":"expression
        and branch coverage for Ruby.","homepage":"https://github.com/deep-cover/deep-cover","repository_url":"https://github.com/deep-cover/deep-cover","normalized_licenses":["MIT"],"rank":12,"latest_release_published_at":"2018-08-23T18:22:36.916Z","latest_release_number":"0.6.4","language":"Ruby","status":null,"package_manager_url":"https://rubygems.org/gems/deep-cover","stars":84,"forks":8,"keywords":["branch-coverage","coverage","ruby"],"latest_stable_release":{"id":15330475,"project_id":2445595,"number":"0.6.4","published_at":"2018-08-23T18:22:36.916Z","created_at":"2018-08-23T18:32:30.477Z","updated_at":"2018-08-23T18:32:30.477Z","runtime_dependencies_count":5},"latest_download_url":"https://rubygems.org/downloads/deep-cover-0.6.4.gem","dependents_count":4,"dependent_repos_count":2,"versions":[{"number":"0.1.0","published_at":"2017-09-22T04:56:19.729Z"},{"number":"0.1.1","published_at":"2017-10-27T00:54:40.903Z"},{"number":"0.1.10","published_at":"2017-11-04T06:28:44.181Z"},{"number":"0.1.11","published_at":"2017-11-04T21:47:35.928Z"},{"number":"0.1.12","published_at":"2017-11-05T20:15:31.660Z"},{"number":"0.1.13","published_at":"2017-11-05T22:19:05.775Z"},{"number":"0.1.14","published_at":"2017-11-07T16:13:18.917Z"},{"number":"0.1.15","published_at":"2017-11-14T04:04:21.169Z"},{"num[...]
