---
http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/rubygems/deep-cover/sourcerank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"basic_info_present":1,"repository_present":1,"readme_present":1,"license_present":1,"versions_present":1,"follows_semver":0,"recent_release":1,"not_brand_new":1,"one_point_oh":0,"dependent_projects":2,"dependent_repositories":0,"stars":2,"contributors":1,"subscribers":0,"all_prereleases":0,"any_outdated_dependencies":0,"is_deprecated":0,"is_unmaintained":0,"is_removed":0}'
  recorded_at: Fri, 14 Sep 2018 23:02:07 GMT
recorded_with: VCR 3.0.3
